.headerul{
	list-style-type:none;
	margin:0;
	padding:0;
	position:absolute;
}
.headerli{
	float:left;
	
}
a:link,a:visited{
    display:block;
    width:70px;
    color:white;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}
a:hover,a:active{
    color:#0080FF;
}
.header{
	background-color: #272727;
	height: 40px;
}
.help{
	margin-bottom:auto;
    margin-top:auto;
	float: right;
}
.homebody{
	background-color: blue;
	height:600px;
	background-size: 100%;
}
.body_1{
	height:40px;
}
hr{
	padding: 0;
	margin: 0;
	width:"100%";
	color:#3C3C3C;
	SIZE:0;
}